.colla{

    display: block;
    margin-block-start: 1.33em;
    
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    /* background-color: aqua; */
}


.container{
  display: flex;
  justify-content:space-between;
  /* background-color: aquamarine; */
  height: auto;
  width: 70%;
  
}
img{
  height: 25vw;
  width: 25vw;
}
h2{
  font-weight: 400;
  font-size: 300%;


   
}
h4{
  font-weight: 300;
  font-size: 200%;

}

@media (max-width: 600px) {
  .container{
    display: flex;
    flex-direction: column;

  }
  img{
    order:2;
    height: 50vw;
    width: 64vw;
  }
  h4{
    order:3;
  }
}


span {
 
  
  
 
  
 font-size: 40px;
  content: "\2192";
}
p{
  
  font-size: 25px;
}
